@import "./utils/variables";
@import "./utils/mixin";

.portfolio-container {
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: $title-page-color;

    @include for-size(desktop) {
        padding-top: 94px;
        padding-bottom: 94px;
    }
}

.menu-portfolio {
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    align-items: center;
    margin-bottom: 25px;

    @media screen and (min-width: 768px) {
        align-items: center;
        justify-content: center;
        margin-bottom: 50px;
    }
}

.menu-portfolio-item:not(:last-child) {
    padding-right: 8px;
}

.menu-portfolio-item {
    @include for-size(mobile-only) {
        margin-bottom: 15px;
    }
}


.prt-box {
    border: 1px solid rgba(238,238,238,1);

    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

 &:hover,
 &:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 
    0px 4px 4px rgba(0, 0, 0, 0.06), 
    1px 4px 6px rgba(0, 0, 0, 0.16);
}
}

.prt-box:hover .subtext {
    transform: translateY(0);    
}

.tumb {
    position: relative;
    overflow: hidden;
}

.tumb img {
    height: 294px;
}

.subtext {
    position: absolute;
    left: 0;
    top: 0;
    transform: translateY(294px);
 
 
    height: 294px;
    width: 100%;
    padding: 63px 24px;
    
    font-size: 18px;
    line-height: 1.55;
    color: $title-page-color;
 
    background-color: rgba(33, 150, 243, 0.9);
         
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-text {
    display: block;
    padding-left: 24px;
    padding-right: 24px;
    padding-top: 20px;
    padding-bottom: 20px;
    height: 100%;
    z-index: 99;


    @include for-size(mobile-only){
       max-width: 450px;
    }
}

.title-progect {
    display: block;
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: $title-text-color;

    margin-bottom: 4px;
 

}

.paragraf-ptf {
    font-size: 16px;
    line-height: 1.87;
}
