.btn {
    display: inline-block;
    font-family: inherit;
    font-size: 16px;
    text-align: center;
    border-radius: 4px;
 }

 .menu-button {
     display: flex;
     justify-content: center;
     align-items: center;
     margin-top: 10px;
     margin-bottom: 10px;
     padding: 0;
     border: none;
     background-color: transparent;
     padding-left: auto;
    padding-right: auto;

     transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    &:hover .menu-button-svg,
    &:focus .menu-button-svg {
       fill: $accent-color;
   }

     @media screen and (min-width: 768px) {
        display: none;
    }
 }
  
.menu-button-svg {
    display: flex;
    text-align: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    padding-left: calc((100% - 24px) / 2);
    padding-right: calc((100% - 24px) / 2);
}


 .menu-button .icon-close {
     display: none;
 }

 .menu-button.is-open .icon-close {
    display: block;
    padding-left: calc((100% - 18.67px) / 2);
    padding-right: calc((100% - 18.67px) / 2);
 }

 .menu-button.is-open .icon-menu {
     display: none;
 }

 .icon-menu {
    display: block;
    width: 24px;
    height: 16px;
    padding-left: calc((100% - 24px) / 2);
 }


  .btn-studia {
    position: relative;
    display: flex;
    margin: auto;
    font-weight: 700;
    line-height:1.87;
    align-items: center;

    min-width: 200px;
    padding: 10px 32px;
    
    letter-spacing: 0.06em;
    color: $title-page-color;
    background-color: $accent-color;
    border: none;

    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
 

 &:hover,
 &:focus {
    background-color: $title-page-color;
    color: $accent-color;
 }

 &:hover .footer-icon-svg,
 &:focus .footer-icon-svg {
     fill: $accent-color;
 }
 }


 .btn-portfolio {
    font-weight: 500;
    line-height:1.62;
    letter-spacing: 0.03em;
    color: $title-text-color;
    background-color:#F5F4FA;
    border: none;
    padding: 6px 22px;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);


 &:hover,
 &:focus {
    background-color: $accent-color;
    color: $title-page-color;
}
}



.modal-botton{
    position: absolute;
    top: 8px;
    right: 8px;

    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    padding: 0;
    border-radius: 50%;
    background-color: $title-page-color;
    border: 1px solid #000000;

    }

.modal-botton-icon {
    width: 11px;
    height: 11px;
    fill: #000000;

    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.close:hover .modal-botton-icon,
.close:focus .modal-botton-icon {
    fill: $accent-color;
}


.btn-form{
    padding-right: 55px;
    padding-left: 55px;

    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}
