.logo-color-header {
    @include logo ($font-raleway, 700, 24px, 1.66, 0.03em);

    color: $title-text-color;

    @media screen and (max-width: 1199px) {
        @include logo ($font-raleway, 700, 26px, 1.192, 0.03em);
    }
}

.heder-logo {
    display: inline-block;
    margin-right: 88px;
    align-items: center;
    text-decoration: none;

    @include for-size(desktop) {
    margin-right: 93px;
}
}

.logo-color {
    color: $accent-color;
}

.logo-color-footer {
    color: $title-page-color;
    @include logo ($font-raleway, 700, 24px, 1.66, 0.03em);

    @media screen and (max-width: 1199px) {
        @include logo ($font-raleway, 700, 26px, 1.192, 0.03em);
    }
}