.menu-container {
    width: 100%;
    @media screen and (max-width: 768px) {
        display: none;
        position: absolute;
        top: 100%;
        left: 0;
        background: $title-page-color;
        z-index: 200;

        &.is-open {
            display: block;
        }
    
    }

    @media screen and (min-width: 768px) {
        // display: flex;
        display: none;
    }
}

.menu-tablet-decstop {
    display: none;
    @media screen and (min-width: 768px) {
    display: block;
    }
}


.navigation {
    margin-right: auto;
}

.menu {
    @media screen and (max-width: 768px) {
        display: block;
        align-items: center;
        justify-content: center;
        margin-right: 0;
        
    }

    display: flex;
    align-items: center;
}

.menu-item {
    @media screen and (max-width: 768px) {
        margin-right: 0;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}


.menu-item:not(:last-child) {
    @media screen and (min-width: 768px){
    margin-right: 50px;
}
}

.current {
    color: $accent-color;


 &::after {
    content: "";
    display: block;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background: $accent-color;
    margin-top: 28px;
}
}

li > .current {
    padding-bottom: 0;
}

.contact-tablet {
    @media screen and (min-width: 768px) and (max-width: 1199px) {
        max-width: 142px;
        margin-left: 84px;
        margin-top: 21px;
        margin-bottom: 21px;
    }

&:first-child {
    @media screen and (min-width: 768px) and (max-width: 1199px) {
            margin-bottom: 10px;
        }
    }
}

.header-svg-linc {
    @media screen and (min-width: 768px) and (max-width: 1199px) {
        padding: 0;
    }
}
