.menu-container {
    width: 100%;
    @media screen and (max-width: 768px) {
        display: none;
        position: absolute;
        top: 100%;
        left: 0;
        background: $title-page-color;
        z-index: 200;

        &.is-open {
            display: block;
        }
    
    }

    @media screen and (min-width: 768px) {
        display: none;
    }
}

.menu-tablet-decstop {
    display: none;

    @media screen and (min-width: 768px) {
    display: block;
    min-width: calc(100% - 237px);
    display: flex;
    
    }
}


.navigation {
    margin-right: auto;
}

.menu {
    margin-top: 28px;
    align-items: center;
    justify-content: center;
    margin-right: 0;
    align-items: center;
    
    @media screen and (max-width: 767px) {
        display: block; 

    }
}

.menu-td {
    display: flex;
    align-items: center;
   
}

.menu-decstop {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    // margin-left: 84px;

    @media screen and (min-width: 768px) and (max-width: 1199px) {
    margin-top: 21px;
    margin-bottom: 21px;
    margin-left: 84px;
}
   
    &:first-child {
        @media screen and (min-width: 768px) and (max-width: 1199px) {
          margin-bottom: 10px;
        }
    }
}

.menu-item {
        display: flex;
        justify-content: center;
        align-items: center;
}

.menu-item-td:not(:last-child) {
    margin-right: 50px;
}


.menu-item-tablet:not(:last-child) {
    @include for-size(desktop) {
    margin-right: 50px;
}
}

.current {
    color: $accent-color;


 &::after {
    content: "";
    display: block;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background: $accent-color;
    margin-top: 28px;

    @media screen and (max-width: 768px){
        margin-top: 8px;
    }
}
}

li > .current {
    padding-bottom: 0;
}

.contact-telefon {
    @media screen and (max-width: 767px) {
        margin-top: 21px;
        margin-bottom: 52px;
        font-size: 18px;
        line-height: 1.66;
    }

&:first-child {
    @media screen and (min-width: 768px) and (max-width: 1199px) {
            margin-bottom: 10px;

        }
    }
}

.header-svg-linc {
    @media screen and (min-width: 768px) and (max-width: 1199px) {
        padding: 0;
    }
}

.contacts {
     @media screen and (min-width: 768px) and (max-width: 1199px){
        padding: 0;
    }
}