html {
  box-sizing: border-box;
}


*,
*::before,
*::after {
  box-sizing: inherit;
  outline: 2px solid red;
}


body {
  font-family: $font-roboto;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: $primari-text-color;
  background-color: $bg-color; 

}

.container {
  // width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-right: auto;
  margin-left: auto;

  @include for-size(mobile){
    width: 480px;
  }


  @include for-size(tablet) {
    width: 768px;
  }

  @include for-size(desktop) {
    width: 1200px;
  }
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

h1, 
h2, 
h3, 
p {
  margin: 0;
  padding: 0;
}

.list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.section {
  padding-bottom: 60px;

  @include for-size(desktop) {
    padding-bottom: 94px;
  }
}

.flexbox {
  @media screen and (min-width: 767px) {
    display: flex;
    flex-wrap: wrap;
  }
}