@mixin link ($color, $td) {
    color: $color;
    text-decoration: $td;
}

@mixin logo ($ff, $fw, $fs, $lh, $ls) {
    font-family: $ff;
    font-weight: $fw;
    font-size: $fs;
    line-height: $lh;
    letter-spacing: $ls;
}

@mixin flexbox ($dsp, $fl-w) {
    display: $dsp;
    flex-wrap: $fl-w;
}


@mixin for-size($range) {
    $mobile: 480px;
    $tablet: 768px;
    $desktop: 1200px;
  
    @if $range == mobile-only {
      @media (max-width: #{$tablet - 1}) {
        @content;
      }
    } @else if $range == mobile {
      @media (min-width: $mobile) {
        @content;
      }
    } @else if $range == tablet {
      @media (min-width: $tablet) {
        @content;
      }
    } @else if $range == desktop {
      @media (min-width: $desktop) {
        @content;
      }
    }
  }
  