.customers {
    padding-top: 60px;

    @include for-size(desktop) {
        padding-top: 94px;
    }
}

.clients {
    @include for-size(mobile-only){
    display: flex;
    flex-wrap: wrap;
}
}

.flexsvg {
    height: 90px;

 @include for-size(mobile-only){
    width: calc((100% - 30px) / 2);
 }

 &:nth-child(2n + 1){
    @include for-size(mobile-only){
    margin-right: 30px;
}
}

&:nth-child(-n + 4) {
    @include for-size(mobile-only){
    margin-bottom: 30px;
}
}

@include for-size(tablet) {
    flex-basis: calc((100% - 30px * 2) / 3);
    margin-right: 30px;
}

&:nth-child(3n + 3) {
    @include for-size(tablet) {
        margin-right: -30px;
    }
}

&:nth-child(-n + 3) {
    @include for-size(tablet) {
        margin-bottom: 30px;
    }
}
   
@include for-size(desktop) {
    
    flex-basis: calc((100% - 30px * 5) / 6);
}

    &:not(:last-child) {
        @include for-size(desktop) {
        margin-right: 30px;
        }
    }
  
    &:hover,
    &:focus {
        border-color: $accent-color;
    }


}


.flexsvg-linc {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90px;
    background-color: inherit;
    border: 1px solid #AFB1B8;
    border-radius: 4px;

    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
    border-color: $accent-color; 
}
}


.client-svg {
    fill: #AFB1B8;
}

.flexsvg-linc:hover .client-svg,
.flexsvg-linc:focus .client-svg {
   fill: $accent-color;
}

