.bg-color-white {
    position: relative;
    background: $title-page-color;
    border-bottom: 1px solid #ECECEC;
    min-height: 60px;
}

.header-container {
    display: flex;
    align-items: center;

    @media screen and (max-width: 767px) {
        display: flex;
        justify-content: space-between;

    }
}

