.bg-color-dark {
    min-height: 400px;

    background-color: $bg-dark-color;

    
    @include for-size(desktop) {
        min-height: 600px;
    }

}

.overlay {
    position: relative;
    height: 400px;
    // max-width: 1600px;
    margin-left: auto;
    margin-right: auto;
    background-image: linear-gradient(
    to right,    
    rgba(47, 48, 58, 0.4),
    rgba(47, 48, 58, 0.4)),
    url(../images/header-img-min.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    @include for-size(desktop) {
        height: 600px;
    }
}

.hero-content {
    display: inline-block;
    width: 360px;
    margin-top: 118px;
    margin-left: calc((100% - 360px) / 2;
    margin-right: calc((100% - 360px) / 2;


    @include for-size(desktop) {
        width: 696px;
        margin-left: calc((100% - 696px) / 2;
        margin-right: calc((100% - 696px) / 2;
        margin-top: 200px;
    }
}

.page-title {
    color: $title-page-color;
    font-size: 26px;
    font-weight: 900;
    line-height: 1.62;
    letter-spacing: 0.06em;
    text-align: center;
    text-transform: uppercase;   

    margin-bottom: 30px;
    margin-top: auto;


    @include for-size(desktop) {
        font-size: 44px;
    }
 }
