
.menu-tel {
    display: none;
    text-align: center;

    @media screen and (min-width: 768px){
    display: flex;

}
}

.bg-color-white .container {
    display: flex;
    justify-content: space-between;
}

.navigation {
    display: flex;
    align-items: center;
}

.menu-mini-btn {
    position: absolute;
    top: 10px;
    right: 15px;
    display: none;
    width: 40px;
    height: 40px;
    padding: 0;
    border: none;
    background-color: inherit;

    @media screen and (max-width: 767px){
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.menu-mini-btn-icon {
    width: 18.67px;
    height: 18.67px;
    fill: #000000;

    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.telefon-menu {
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
    z-index: 10;
    background-color: $title-page-color;
}


.telefon-menu-item:not(:last-child) {
    margin-bottom: 40px;
    display: block;
    text-align: center;
}

.telefon-menu-contact {
    display: block;
    align-items: center;

    &:not(:last-child) {
    margin-bottom: 16px;
}
}

.telefon-current {
    color: $accent-color;


 &::after {
    content: "";
    display: block;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background: $accent-color;
    margin-top: 8px;
}
}

.telefon-menu-link {
    display: inline-block;
    padding-top: 8px;
    padding-bottom: 8px;
    font-weight: 500;
    font-size: 18px;
    line-height: 1.166;
    letter-spacing: 0.02em;
    color: $title-text-color;
}